@model IEnumerable<ClassViewModel>

@{
    ViewData["Title"] = "Class";
}

<h1>Class</h1>



<p>
    <a asp-action="CreateClass" asp-route-id="@Model.FirstOrDefault()!.SchoolId" class="btn btn-outline-success">Create New</a>
</p>
@if (Model.Count() > 0)
{

    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.School.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.School.Name)
                    </td>
                    <td>
                        <a asp-action="EditClass" asp-controller="Class" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Student" asp-controller="Student" asp-route-id="@item.Id" class="btn btn-success">Students</a>
                        <a asp-action="DeleteClass" asp-controller="School" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{

}